extends ../common/_layout
block vars
  -
    const PROD = false;
  include ./_project_mixins

block content
  section.promo
    .container
      //- +
      .promo__header
        a.logo(href=$.site target="_blank"): img(src="./i/logo.png" width="90" height="90" alt="Go to FBS")
      //-   h1.slogan
      //-     .slogan__title!= $.p0
      //-     .slogan__sub!= $.p1
      //- //- +
      //- .h2.promo__title #[!=$.p2] #[br] #[strong!= $.p3]

      h2.h1.slogan
        .slogan__title!= $.p0
        .slogan__sub!= $.p1
      //- +form
  section(style="text-align:center;padding:20px 0 40px;background-color:#c1dff0")
    .container
      .slogan__sub(style="margin-bottom:10px")!= $.p2
      .slogan__sub(style="margin-bottom:10px")!= $.p3
      +form
  //- +
  section.benefits
    .container.container--benefits
      h2.benefits__title!= $.p4
      .fl-row
        each benefit in benefits
          +benefit(benefit)
  //- +
  section.bullets
    h2.bullets__title!= $.p13
    .container
      each bullet in bullets
        +bullet(bullet)
  //- +
  footer.page-footer
    .container
      +form
      .page-footer__c © 2016 FBS Market inc.

  if ($.lang === 'my') || ($.lang === 'es') || ($.lang === 'id') || ($.lang === 'ms') || ($.lang === 'tr')
    style.
       @media (min-width: 960px) {
        .h1.slogan {
          bottom: 25px;
        }
       }
  case $.lang
    when 'vi'
      script.
        WebFontConfig = {
          google: { families: [ 'Roboto+Condensed:400,700&amp;subset=vietnamese' ] }
        };

    when 'ja'
      style.
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
          font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }
    when 'my'
      script.
        WebFontConfig = {
          google: { families: [ 'Padauk:400,700&amp;subset=myanmar' ] }
        };
      style.
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
          font-family:"Padauk", sans-serif;
    default
      script.
        WebFontConfig = {
          google: { families: [ 'Open+Sans:300,400,600,600i&amp;subset=latin-ext,vietnamese' ] }
        };

  if $.lang !=='ja'
    script.
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
