// SPRITE GENERATES
// FROM TEMPLATE AUTOMATICALLY

.i {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.i--check {
  font-size: (1024/10)*1rem;
  width: (1210/1024)*1em;
}

.i--eggs {
  font-size: (1024/10)*1rem;
  width: (819/1024)*1em;
}

.i--finance {
  font-size: (1024/10)*1rem;
  width: (819/1024)*1em;
}

.i--gift {
  font-size: (1024/10)*1rem;
  width: (819/1024)*1em;
}

.i--learn {
  font-size: (1024/10)*1rem;
  width: (819/1024)*1em;
}

.i--light {
  font-size: (1024/10)*1rem;
  width: (819/1024)*1em;
}

.i--support {
  font-size: (1024/10)*1rem;
  width: (819/1024)*1em;
}

.i--timer {
  font-size: (1024/10)*1rem;
  width: (819/1024)*1em;
}

.i--two-eggs {
  font-size: (1024/10)*1rem;
  width: (819/1024)*1em;
}

