body {
  font-family: $font-regular;
  min-width: 320px;
}

h2,
.h2,
h3,
.h3 {
  color: $color-accent;
  font-family: $font-header;
  margin: 0;
}

h1,
.h1 {
  font-size: 26px;
  font-weight: 400;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 36px;
  }

  @media (min-width: 960px) {
    font-size: 44px;
  }

  @media (min-width: 1200px) {
    font-size: 52px;
  }
}

h2,
.h2 {
  font-size: 22px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: 30px;
  }

  @media (min-width: 960px) {
    font-size: 36px;
  }
}

h3 {
  @media (min-width: 768px) {
    font-size: 21px;
  }
  font-size: 18px;
  margin-bottom: 15px;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 640px;
  padding: 0 15px;


  @media(min-width: 960px) {
    max-width: 740px;
  }

  @media(min-width: 1900px) {
    max-width: 880px;
  }

  &--benefits {
    @media (min-width: 1200px) {
      max-width: 1103px;
    }
  }
}

.sprite {
    background-image: url(../i/sprites.png);
    background-repeat: no-repeat;
    display: inline-block;
}
