.bullets {
  padding-top: 20px;

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 26px;
    font-weight: 400;
    
    @media (min-width: 1200px) {
      font-size: 36px;
    }
}
}

.bullet {
  display: table;
  margin-bottom: 15px;
  max-width: 730px;
  width: 100%;

  @media(min-width:768px) {
    margin-bottom: 35px;
  }
  h3 {
    font-size: 21px;
  }
  &__thumb,
  &__body {
    display: table-cell;
    vertical-align: top;
  }

  &__thumb {
    text-align: center;
    vertical-align: middle;
    width: 100px;

    svg {
      height: auto;
      width: 50px;

      @media (min-width: 768px) {
        width: 70px;
      }

    }
  }

  &__body {
    padding-left: 15px;
    text-align: left;

    @media (min-width: 768px) {
      padding-left: 35px;
    }
  }
  &__desc {
    font-size: 14px;
    line-height: 21px;
  }
}
