.page-footer {
  background: #000 url('../i/bg-footer-320.jpg') top center / cover no-repeat;
  color: #fff;
  padding: 90px 0 30px;
  text-align: center;
  
  @media(min-width: 450px) {
    background-image: url('../i/bg-footer-768.jpg');
    background-size: cover;
  }
  
  @media(min-width: 960px) {
    background-image: url('../i/bg-footer-1200.jpg');
  }
  
   @media(min-width: 1200px) {
    background-image: url('../i/bg-footer-1200.jpg');
    background-size: cover;
  }

  @media (min-width: 768px) {
    padding: 200px 0 70px;
  }

  &__c {
    font-size: 14px;
    padding-top: 50px;
  }
}
