.benefits {
  padding: 30px 0;
  text-align: center;

  &__title {
    margin-bottom: 40px;

  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media(min-width:768px) {
    padding: 40px 0 10px;
  }
}

.benefit {
  background-color: #fff;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0 auto 20px;
  max-width: 430px;
  // min-height: 360px;
  padding: 30px 15px;
  text-align: center;

  @media(min-width:768px) {
    min-height: 390px;
    padding: 30px 0;
  }

  &__thumb {
    height: 140px;
    margin-bottom: 35px;
    position: relative;

    .i--timer {
      bottom: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
    }
  }

  &__body {
    @media(min-width:768px) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 21px;
    // margin-bottom: 30px;
  }
}

footer {
  background: #000;
}


.i {
  background-image: url('#{$src}/sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.i--crown {
    width: 127px;
    height: 93px;
    background-position: -5px -5px;
}

.i--income {
    width: 116px;
    height: 107px;
    background-position: -5px -108px;
}

.i--money {
    width: 112px;
    height: 111px;
    background-position: -142px -5px;
}

.i--rocket {
    width: 124px;
    height: 109px;
    background-position: -131px -126px;
}


.fl-row {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  [class^='col'] {
    display: flex;
  }
}
