.promo {

  background: #000 url('#{$src}bg-1700.jpg') top center / cover no-repeat;
  color: #fff;
  padding: 30px 0;
  text-align: center;

  &__header {
    .slogan {
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 50px;
    text-shadow: #000 0 0 5px;

    strong {
      font-size: 24px;
      font-weight: 700;
    }
    @media(min-width: 768px) {
      font-size: 38px;
      margin-bottom: 100px;
      text-shadow: none;
      /* stylelint-disable */
      strong {
        font-size: 42px;
      }
      @media(min-width: 1200px) {
        font-size: 44px;
        strong {
          font-size: 48px;
        }
      }
      /* stylelint-enable */
    }
    @media (max-height: 850px) and (min-width: 1024px) {
      margin-bottom: 70px;
    }
  }


  @media(min-width: 768px) {
    padding: 60px 0;

    &__header {
      display: table;
      margin: 0 auto 110px;

      @media (max-height: 850px) and (min-width: 1024px) {
        margin-bottom: 70px;
      }

      /* stylelint-disable */
      .logo {
        display: table-cell;
      }

      .slogan {
        display: table-cell;
        padding-left: 15px;
        vertical-align: middle;

        position: relative;

        &__title {
          margin-bottom: 0;
        }
      }

    }

    @media(min-width: 768px) {
      &__header {
        .slogan {
          padding-left: 30px;
        }
      }

    }
     /* stylelint-enable */
  }

  @media(min-width: 1700px) {
    background-image: url('#{$src}bg-2400.jpg');
  }
  @media (max-height: 850px) and (min-width: 1024px) {
    padding: 15px 0;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 20px;

  img {
    display: block;
    height: auto;
    max-width: 79px;

    @media(min-width: 960px) {
      max-width: 90px;
    }
  }
}

.slogan {
  color: #fff;
  line-height: 1;
  margin-bottom: 45px;
  text-align: center;

  &__title {
    margin-bottom: 15px;
  }

  &__sub {
    font-size: 18px;
    @media(min-width: 960px) {
      font-size: 28px;
    }
  }
}

.h1.slogan {
  margin-bottom: 35px;
}
