.benefits {
  padding: 30px 0;
  text-align: center;

  &__title {
    margin-bottom: 40px;
    color: #342e37;  

    @media(min-width:768px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
    }
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media(min-width:768px) {
    padding: 40px 0 10px;

    // .row {
    //   margin-left: -15px;
    //   margin-right: -15px;
    // }



    // [class^='col-']:first-child {
    //   padding-left: 0;
    // }

    // [class^='col-']:last-child {
    //   padding-right: 0;
    // }
  }
}

.benefit {
  background-color: #fff;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0 auto 20px;
  max-width: 430px;
  // min-height: 360px;
  padding: 30px 15px;
  text-align: center;
  

  @media(min-width:768px) {
    min-height: 390px;
    padding: 30px 0;
  }

  &__title {
     color: #342e37;    
    }    
    
  &__thumb {
    margin-bottom: 35px;
    position: relative;

    .i--timer {
      bottom: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
    }
  }

  &__body {
    @media(min-width:768px) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 21px;
    // margin-bottom: 30px;
  }
}

footer {
  background: #000;
}


.i {
  background-image: url('./i/sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-ico-5 {
    width: 79px;
    height: 81px;
    background-position: -5px -5px;
}

.sprite-ico-6 {
    width: 65px;
    height: 83px;
    background-position: -94px -5px;
}

.sprite-ico-7 {
    width: 80px;
    height: 81px;
    background-position: -5px -98px;
}

.sprite-ico-8 {
    width: 82px;
    height: 82px;
    background-position: -95px -98px;
}


.fl-row {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  [class^='col'] {
    display: flex;
  }
}
