.promo {

  background: #000 url('../i/bg-320.jpg') top center / cover no-repeat;
  color: #fff;
  padding: 30px 0;
  text-align: center;

  &__header {
    .slogan {
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }

  &__title {
    font-size: 24px;
    margin-bottom: 50px;
    text-shadow: #000 0 0 5px;
    text-transform: uppercase;  

    strong {
      font-size: 28px;
      font-weight: 700;
    }
    h3 {
        text-transform: none;
        font-size: 16px;
        max-width: 530px;
        margin-left: auto;
        margin-right: auto;
      }  
    @media(min-width: 768px) {
      font-size: 49px;
      margin-bottom: 100px;
      text-shadow: none;
      /* stylelint-disable */
      strong {
        font-size: 52px;
      }
      h3 {
        font-size: 24px;
      }    
      @media(min-width: 1200px) {
        font-size: 51px;
        strong {
          font-size: 55px;
        }
        h3 {
          font-size: 31px;
      }  
      }
      /* stylelint-enable */
    }
    @media (max-height: 850px) and (min-width: 1024px) {
      margin-bottom: 70px;
    }
  }

  @media(min-width: 450px) {
    background-image: url('../i/bg-768.jpg');
    background-size: cover;
  }
  @media(min-width: 768px) {
    padding: 60px 0 30px;

    &__header {
      display: table;
      margin: 0 auto 110px;

      @media (max-height: 850px) and (min-width: 1024px) {
        margin-bottom: 70px;
      }

      /* stylelint-disable */
      .logo {
        display: table-cell;
      }

      .slogan {
        display: table-cell;
        padding-left: 15px;
        vertical-align: top;
        position: relative;
        top: -5px;
      }

    }

    @media(min-width: 768px) {
      &__header {
        .slogan {
          padding-left: 30px;
        }
      }

    }
     /* stylelint-enable */
  }

  @media(min-width: 960px) {
    background-image: url('../i/bg-960.jpg');
  }
  @media(min-width: 1200px) {
    background-image: url('../i/bg-1200.jpg');
    background-size: cover;
  }
  @media (max-height: 850px) and (min-width: 1024px) {
    padding: 15px 0;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 20px;

  img {
    display: block;
    height: auto;
    max-width: 79px;

    @media(min-width: 960px) {
      max-width: 90px;
    }
  }
}

.slogan {
  color: #fff;
  line-height: 1;
  max-width: 480px;
  margin: 50px auto;   
  text-align: center;
  font-size: 20px;

  &__title {
    margin-bottom: 15px;
  }

  &__sub {
    font-size: 18px;
    @media(min-width: 960px) {
      font-size: 28px;
    }
  }
}