.benefits {
  text-align: center;
  padding-top: 30px;


  @media(min-width:768px) {
    background: url('#{$src}benefits-line.png') center center / contain no-repeat;
  }
  @media(min-width:1200px) {
    background-position: center 100px;
  }

}

.benefit {
  margin-bottom: 40px;
  text-align: center;

  &__body {
    max-width: 220px;
    margin: 0 auto;
  }

  &__thumb {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__desc {
    font-size: 14px;
  }
}




// .benefits {
//   padding: 30px 0;
//   text-align: center;

//   &__title {
//     margin-bottom: 40px;

//     @media(min-width:768px) {
//       margin-left: auto;
//       margin-right: auto;
//       max-width: 80%;
//     }
//   }

//   .row {
//     margin-left: -15px;
//     margin-right: -15px;
//   }

//   [class^='col-'] {
//     padding-left: 10px;
//     padding-right: 10px;
//   }

//   @media(min-width:768px) {
//     padding: 40px 0 10px;

//     // .row {
//     //   margin-left: -15px;
//     //   margin-right: -15px;
//     // }



//     // [class^='col-']:first-child {
//     //   padding-left: 0;
//     // }

//     // [class^='col-']:last-child {
//     //   padding-right: 0;
//     // }
//   }
// }

// .benefit {
//   background-color: #fff;
//   box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
//   box-sizing: border-box;
//   margin: 0 auto 20px;
//   max-width: 430px;
//   // min-height: 360px;
//   padding: 30px 15px;
//   text-align: center;

//   @media(min-width:768px) {
//     min-height: 390px;
//     padding: 30px 0;
//   }

//   &__thumb {
//     height: 140px;
//     margin-bottom: 35px;
//     position: relative;

//     .i--timer {
//       bottom: 0;
//       left: 0;
//       margin: 0 auto;
//       position: absolute;
//       right: 0;
//     }
//   }

//   &__body {
//     @media(min-width:768px) {
//       padding-left: 35px;
//       padding-right: 35px;
//     }
//   }

//   &__desc {
//     font-size: 14px;
//     line-height: 21px;
//     // margin-bottom: 30px;
//   }
// }

// .fl-row {
//   align-items: stretch;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;

//   [class^='col'] {
//     display: flex;
//   }
// }
