.form {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 370px;
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 25px;
  }

  &__group {
    margin-bottom: 20px;

    &--sm {
      margin-bottom: 10px;
    }

    & + &--sm {
      margin-top: -10px;
    }
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__input {
    border: 1px solid #fff;
    box-sizing: border-box;
    color: $color-accent-darker;
    font-family: $font-regular;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    color: #000;

    &::placeholder {
      color: $color-accent-darker;

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    &.is-block {
      display: block;
      width: 100%;
    }
  }
}

.checkbox {
  display: inline-block;
  font-size: 14px;
  outline: none;
  position: relative;
  text-align: center;

  // STATE
  // &:active,
  // &:focus {
  //   .checkbox__label::before {
  //     border-color: #bebebe;
  //   }
  // }
  // ELEMENTS
  a {
    color: inherit;

    &:hover,
    &:active,
    &:focus {
      color: inherit;
    }
  }

  &__input {
    display: none;
  }

  &__icon {
    display: inline-block;
    height: 8px;
    width: 8px;
    position: relative;
    padding-right: 6px;

    &::before {
      border: 1px solid #fff;
      box-sizing: border-box;
      content: '';
      height: 8px;
      left: 0;
      position: absolute;
      top: 0;
      // margin-top: 12px;
      width: 8px;
    }
  }

  &__label {
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    vertical-align: middle;

    // &:hover {
    //   &::before {
    //   }
    // }
  }

  &__label-title {
    display: inline-block;
    // padding-left: 34px;
  }
  // COMBO
  // &__input + &__label .i--arrow {
  //   stroke: red;
  //   display: none;
  //   font-size: 8px;
  //   left: 4px;
  //   margin-top: -4px;
  //   position: absolute;
  //   top: 50%;
  // }
  // IS CHECKED

  &__input:checked + &__label &__icon::before {
    // border-color: $brand-primary;
    // background-color: $brand-primary;
    background: svg-url("<svg xmlns='http://www.w3.org/2000/svg' width='15.537' height='13.144' viewBox='0 0 15.537137416366022 13.143966807818288'><title>check</title><path d='M1.099 6.452l5.36 5.59 7.79-10.97' fill='none' stroke='#fff' stroke-miterlimit='50' stroke-width='2'/></svg>") center center no-repeat;
    background-size: cover;
  }
}

.btn {
  box-sizing: border-box;
  cursor: pointer;
  font-family: $font-regular;
  font-size: 18px;
  line-height: 1;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  font-weight: 600;

  &--brand {
    background-color: $color-brand;
    color: #fff;
  }

  &.is-fx-width {
    margin: 0 auto;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 320px;
    }
  }
}
